

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer">
                   Vortex - Control de Pacientes  &copy;                  
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; Creado con <i class="fa fa-heart text-danger"></i>
                      - por<a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/francisco-fernandez-1164a8140/"> Fran F.</a>
          </div>
        </div>
    </footer>
