{% extends 'bases/base_sin_sidebar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load materializecss %}


{% block css %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> 
  <link href="/static/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
{% endblock %}

{% block title %}
    <title> Datos del Mèdico </title>
{% endblock %}

{% block navigation_icon %} {% endblock %}

{% block sidebar %}
<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
  <div class="logo">
    <a target="_blank" rel="noopener noreferrer" class="simple-text logo-normal">
       Vortex Ortega
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
    {% if request.user.is_authenticated %}

      <li class="nav-item ">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <i class="material-icons">dashboard</i>
          <p>Menú Principal</p>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="material-icons">public</i>
            <p>Website</p>
          </a>
      </li>
      <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'class_pacientes_lista' %}">
          <i class="material-icons">medical_services</i>
          <p>Pacientes</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'class_staff_lista' %}">
          <i class="material-icons">groups</i>
          <p>Staff</p>
        </a>
      </li>
      <li class="nav-item active {% if 'ui-typography' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'class_detail_staff' user.staff.id %}">
          <i class="material-icons">person</i>
          <p>Perfíl de Usuario</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'admin:login' %}">
          <i class="material-icons">admin_panel_settings</i>
          <p>Modo Admin</p>
        </a>
      </li>       

      <li class="nav-item ">
        <a class="nav-link" href="{% url 'logout' %}" >
          <i class="material-icons">directions_run</i>
          <p>Salir</p>
        </a>
      </li>

     
    {% else %}

    <li class="nav-item active ">
      <a class="nav-link" href="{% url 'login' %}" >
        <i class="material-icons">face</i>
        <p>Entrar</p>
      </a>
    </li>


    {% endif %}
    </ul>
  </div>

</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Editar Perfil</h4>
                    <p class="card-category">{{staff.get_fullname}}, "{{ staff.user }}"</p>
                </div>
                <div class="card-body">
                    <form action="{% url 'class_update_staff' staff.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form}}
                        {{form.media}}
                        <br>
                        <div class="row">
                            <div class="col-md-4"></div>
                                <div class="col-md-4 center-align">          
                                  <button type="submit" class="btn btn-warning btn-round">Editar</button>          
                                </div>
                          </div>                 
                     </form>                   
                </div>
            </div>
        </div>
    </div>
</div>
                           
{% endblock %}


{% block footer %} {% endblock %}
  
{% block js %}
<!-- Compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock %}
