{% extends 'back/master.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block titulo %}
    <title> Nuevo Usuario</title>
{% endblock %}

{% block sidebar %}
<!-- Sidebar Navigation -->
<ul class="sidebar-nav">
    <li class="sidebar-header">
        <span class="sidebar-header-title">Elija una opción</span>
    </li>

    <li>
        <a href="{% url 'home' %}" ><i class="fa fa-windows sidebar-nav-icon"></i>Menú Principal</a>
    </li>

    <li>
        <a href="#" class=" sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-wheelchair sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Sección de Pacientes</span></a>
        <ul>
            <li >
                <a href="{% url 'class_pacientes_lista' %}">Archivo de Pacientes</a>
                <a href="{% url 'class_upload_paciente' %}">Crear Paciente</a>
            </li>

        </ul>
    </li>
    <li>
        <a href="#"  sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-phone_alt sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Sección de Citas</span></a>
        
    </li>
    <li>
        <a href="#" class="class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-stethoscope sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Sección de Consultas</span></a>
        
    </li>
    <li>
        <a href="#" class="text-primary sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-user-md sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Sección de Médicos</span></a>
        <ul>
            <li>
                <a href="{% url 'class_staff_lista' %}">Archivo de Médicos</a>
                <a class="active" href="{% url 'class_upload_staff' %}">Crear Médico</a>
            </li>

        </ul>
    </li>
    <li>
        <a href="{% url 'admin:login' %}" ><i class="fa fa-cogs sidebar-nav-icon"></i>Modo Adminstrador</a>
    </li>
<!-- END Sidebar Navigation -->
{% endblock %}



{% block mainblock %}
<!-- Page content -->
<div id="page-content">
                       <!-- Forms General Header -->
                       <div class="content-header themed-background-dark-autumn">
                           <div class="header-section">
                               <h1>
                                   <i class="fa fa-user-plus themed-color-autumn"></i>
                                   <h1 class="themed-color-autumn">Añade a un nuevo Usuario</h1>
                                   <small class="text-light">los campos con * son obligatorios</small>
                               </h1>
                           </div>
                       </div>
                       <ul class="breadcrumb breadcrumb-top themed-background-autumn">
                           <li class="breadcrumb-item"><a href="{% url 'home' %}" class="themed-color-dark-autumn"><i class="fa fa-home themed-color-dark-autumn"></i> Menú principal</a></li>
                           <li><a class="themed-color-dark-autumn" href="{% url 'class_staff_lista' %}">Lista de Usuarios</a></li>
                           <li class="text-light">Crear Usuario</li>
                       </ul>
                       <!-- END Forms General Header -->

                       <div class="row">
                           <div class="col-sm-2">

                           </div>
                           <div class="col-sm-8">
                               <!-- Normal Form Block -->
                               <div class="block themed-border-autumn">
                                   <!-- Normal Form Title -->
                                   <div class="block-title themed-background-dark-autumn themed-color-autumn">
                                       <h2><strong>Crear Usuario</strong></h2>
                                   </div>
                                   <!-- END Normal Form Title -->

                                   <!-- Normal Form Content -->
                                   <form action="{% url 'class_upload_staff' %}" method="POST" class="form-bordered" enctype="multipart/form-data">
                                      <div class="form-group themed-color-dark-autumn">
                                         {% csrf_token %}
                                         {{form|crispy}}
                                         {{form.media}}
                                         <br>
                                     </div>
                                     <div class="form-group">
                                             <button type="submit" class="btn themed-background-autumn themed-color-dark-autumn btn-lg btn-block">Crear</button>
                                         </div>
                                         </form>
                                     </div>
                                   <!-- END Normal Form Content -->
                               </div>
                               <!-- END Normal Form Block -->
                               </div>
                               <div class="col-sm-2">

                               </div>
                               <!-- END Input Sizes Block -->
                       </div>


{% endblock %}
