{% extends 'back/master.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}
    <title> Lista de Pacientes </title>
{% endblock %}

{% block sidebar %}
<!-- Sidebar Navigation -->
<ul class="sidebar-nav">
    <li class="sidebar-header">
        <span class="sidebar-header-title">Elija una opción</span>
    </li>

    <li>
        <a href="{% url 'home' %}" ><i class="fa fa-windows sidebar-nav-icon"></i>Menú Principal</a>
    </li>

    <li>
        <a href="#" class=" text-primary sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-wheelchair sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Sección de Pacientes</span></a>
        <ul>
            <li >
                <a  class="active"  href="#">Archivo de Pacientes</a>
                <a href="{% url 'class_upload_record' %}">Crear Paciente</a>
            </li>

        </ul>
    </li>
    <li>
        <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-group sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Sección de Staff</span></a>
        <ul>
            <li>
                <a href="{% url 'class_staff_lista' %}">Staff</a>
                <a href="{% url 'class_upload_staff' %}">Crear Usuario</a>
            </li>

        </ul>
    </li>
    <li>
        <a href="{% url 'admin:login' %}" ><i class="fa fa-cogs sidebar-nav-icon"></i>Modo Adminstrador</a>
    </li>
<!-- END Sidebar Navigation -->
{% endblock %}




{% block header %}
    <!-- Page content -->
    <div id="page-content">
                        <!-- eCommerce Orders Header -->
                        <div class="content-header themed-background-dark-default">
                            <ul class="nav-horizontal text-center">
                                <li>
                                    <a href="{% url 'home' %}" class="themed-background-dark-default themed-color-default"><i class="fa fa-windows sidebar-nav-icon "></i> Menú Principal</a>
                                </li>
                                <li>
                                    <a href="" class="themed-background-night themed-color-dark-default"><i class="fa fa-wheelchair sidebar-nav-icon themed-color-dark-default"></i> Pacientes</a>
                                </li>
                                
                                <li>
                                    <a href="{% url 'class_staff_lista' %}" class="themed-background-dark-default"><i class="gi gi-group "></i> Staff</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin:login' %}" class="themed-background-dark-default"><i class="fa fa-cogs"></i> Admin</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="breadcrumb breadcrumb-top themed-background-night">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="themed-color-dark-waterlily"><i class="fa fa-home themed-color-dark-default"></i> Menú Principal</a></li>
                            <li class="text-light">Lista pacientes</a></li>
                        </ul>
    </div>
                        <!-- END eCommerce Orders Header -->
{% endblock %}

{% block indicadores %}                       
{% endblock %}

{% block mainblock %}

<!-- All Orders Block -->
                        <div class="block full themed-border-night">
                            {% if pacientes %}
                            <table id="ecom-orders" class="table table-condensed text-center table-striped table-vcenter themed-color-dark">
                                <thead>
                                    <tr>
                                        <th class="text-center themed-color-dark-night">ID</th>
                                        <th class="text-center themed-color-dark-night">Apellido Paterno</th>
                                        <th class="text-center themed-color-dark-night hidden-xs">Apellido Materno</th>
                                        <th class="text-center themed-color-dark-night">Nombre (s)</th>
                                        <th class="text-center themed-color-dark-night">Función</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for paciente in pacientes %}
                                    <tr>
                                        <td class="text-center"><strong>{{paciente.id_Expediente}}</strong></td>
                                        <td class="text-center">{{paciente.Apellido_Paterno}}</td>
                                        <td class="text-center hidden-xs">{{paciente.Apellido_Materno}}</td>
                                        <td class="text-center">{{paciente.Nombre}}</td>
                                        <td class="text-center">
                                            <div class="btn-group btn-group-md">
                                                <a href="{% url 'class_detail_paciente' paciente.id %}" title="Datos personales, galería, consultas y citas" class="btn btn-default"><i class="fa fa-folder-open"></i></a>
                                                <a href="{% url 'class_delete_record' paciente.id %}" data-toggle="tooltip" title="¿Eliminar registro y sus datos?" class="btn btn-danger"><i class="fa fa-times"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                 <center>
                                 <h3>no se han encontrado pacientes...</h3>
                                 <img src="{% static 'website/img/bg-img/gato.png' %}" alt="" style="width:30%;">
                                 </center>
                            {% endif %}

                    <div class="d-flex flex-row-reverse text-center">
                      {% load navigation_filters %}
                           {% if pacientes %}
                            {% if pacientes.has_other_pages %}
                               <ul class="pagination pagination-lg">
                               {% if pacientes.has_previous %}
                                 <li class="page-item">
                                   <a href="?page={{pacientes.previous_page_number}}" class="page-link themed-color-night">&laquo;</a>
                                 </li>
                               {% else %}
                                 <li class="page-item disabled">
                                   <a class="page-link ">&laquo;</a>
                                 </li>
                               {% endif %}
                               {% for i in pacientes.paginator.page_range|page_filter:pacientes %}
                                     {% if pacientes.number == i %}
                                       <li class="page-item active">
                                         <a class="page-link themed-background-night">{{i}}</a>
                                       </li>
                                     {% else %}
                                       <li class="page-item">
                                         <a href="?page={{i}}" class="page-link themed-color-night themed-background-dark-night">{{i}}</a>
                                       </li>
                                     {% endif %}
                               {% endfor %}
                                   {% if pacientes.has_next %}
                                     <li class="page-item">
                                       <a href="?page={{pacientes.next_page_number}}" class="page-link themed-color-night">&raquo;</a>
                                     </li>
                                   {% else %}
                                     <li class="page-item disabled">
                                       <a class="page-link">&raquo;</a>
                                     </li>
                                   {% endif %}
                                   </ul>
                                 {% endif %}
                              {% endif %}

                            </div>
                            <div class="row">
                              <div class="col-xs-12">
                                <h5 class="themed-color-night"><strong>Pacientes</strong> Total: <span class="label label-success">{{contador|intcomma}}</span></h5>
                              </div>
                            </div>
                                    <!-- END All Orders Content -->
                  </div>

{% endblock %}