{% extends 'back/master.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block titulo %}
    <title> Ficha Clinica {{record.id_record}} </title>
{% endblock %}

{% block sidebar %}
<!-- Sidebar Navigation -->
<ul class="sidebar-nav">
    <li class="sidebar-header">
        <span class="sidebar-header-title">Elija una opción</span>
    </li>

    <li>
        <a href="{% url 'home' %}" ><i class="fa fa-windows sidebar-nav-icon"></i>Menú Principal</a>
    </li>

    <li>
        <a href="#" class=" text-primary sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-wheelchair sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Sección de Pacientes</span></a>
        <ul>
            <li >
                <a href="{% url 'class_pacientes_lista' %}">Archivo de Pacientes</a>
                <a href="{% url 'class_upload_paciente' %}">Crear Paciente</a>
                <a href="{% url 'class_detail_paciente' record.paciente.id %}">Bitácora del Paciente</a>
                <a class="active">Editar datos de Paciente</a>
            </li>

        </ul>
    </li>
    <li>
        <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-group sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Sección de Staff</span></a>
        <ul>
            <li>
                <a href="{% url 'class_staff_lista' %}">Staff</a>
                <a href="{% url 'class_upload_staff' %}">Crear Usuario</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{% url 'admin:login' %}" ><i class="fa fa-cogs sidebar-nav-icon"></i>Modo Adminstrador</a>
    </li>
<!-- END Sidebar Navigation -->
{% endblock %}


{% block mainblock %}
<div id="page-content">
    <div class="content-header themed-background-dark-modern">
        <div class="header-section">
            <h1>
                <i class="gi gi-notes_2 themed-color-modern"></i>                
                <h2 class="themed-color-modern">{{record.paciente.Apellido_Paterno}} {{record.paciente.Apellido_Materno}} {{record.paciente.Nombre}}. ( {{record.paciente.Edad}} años )</h2>
                <h4 class="text-light">Id: {{record.paciente.id_Paciente}}</h4>
                <small class="text-light">los campos con * son obligatorios</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top themed-background-modern">
        <li class="breadcrumb-item"><a href="{% url 'home' %}" class="themed-color-dark-modern"><i class="fa fa-home themed-color-dark"></i> Menú Principal</a></li>        
        <li><a class="themed-color-dark-modern" href="{% url 'class_pacientes_lista' %}">Lista pacientes</a></li>
        <li><a class="themed-color-dark-modern" href="{% url 'class_detail_paciente' record.paciente.id %}">Bitácora del paciente</a></li>        
        <li class="text-light">Editar datos de Paciente</li>
      </ul>

      <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <!-- Normal Form Block -->
            <div class="block themed-border-modern">
                <!-- Normal Form Title -->
                <div class="block-title themed-background-dark-modern themed-color-modern">
                    <h2><strong>Ficha Clinica</strong></h2>                    
                </div>
                <!-- END Normal Form Title -->

                <form method="POST" action="{% url 'class_update_record' record.id %}"  class="form-bordered" enctype="multipart/form-data">
                    <div class="form-group themed-color-dark-modern">
                    {% csrf_token %}
                    {{form|crispy}}
                    {{form.media}}
                    
                    <br>

                <div class="form-group">
                    <button type="submit" class="btn  btn-lg btn-block themed-color-dark-modern themed-background-modern">Guardar</button>
                </div>                
                </form>
               <!-- END Normal Form Content -->
            </div>
                                <!-- END Normal Form Block -->
        </div>
                <div class="col-sm-2"></div>
            <!-- END Input Sizes Block -->
        </div>
    </div>
</div>
<!-- END Page Content -->

  {% endblock %}